!!!
%html
  %head
    %title Getting Started Extension's Popup
    / BOOTSTRAP
    %link{:href => "css/bootstrap.min.css", :rel => "stylesheet"}/
    %link{:href => "css/bootstrap-theme.min.css", :rel => "stylesheet"}/
    %link{:href => "css/helper.css", :rel => "stylesheet"}/
    %script{:src => "jquery.min.js"}
    %script{:src => "js/bootstrap.min.js"}
    / Custom Javascript
    %script{:src => "popup.js"}
    :css
      body {
        width: 400px;
        background-color: #303030;
        color: white;
      }
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
  %body.container-fluid
    .row
      .col-xs-6.col-xs-offset-3.p10
        %span#previous.btn.btn-primary.glyphicon.glyphicon-step-backward{"aria-hidden" => "true"}
        %span#toggle.btn.btn.btn-primary
          %span.glyphicon.glyphicon-play{"aria-hidden" => "true"}
          %span.glyphicon.glyphicon-pause{"aria-hidden" => "true"}
        %span#next.btn.btn-primary.glyphicon.glyphicon-step-forward{"aria-hidden" => "true"}
    .row
      .col-xs-12{style:"border: 2px dashed red; text-align:center"}
        %h3#current_song Nothing Playing
        %p#album_artist
    .row
      .col-xs-12.p10#error{style:"background-color:red; text-align:center; display:none;"}
